/* General Reset */
* {
  margin: 0;
  padding: 0;
}
/* Buttons */
.btn {
  background-color: #00bcd4;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #0097a7;
  transform: scale(1.05);
}

.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color:#0097a7
}
/* Banner */
.banner {
  text-align: center;
  padding: 80px 20px;
}
.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
/* Action */
.action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 40px;
}
.action-left, .action-right {
  flex: 1;
  min-width: 300px;
}
/* Productive Users */
.stats {
  background-color: #1a6c8f1d;
  text-align: center;
  padding: 60px 20px;
}
.stats h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.stats-data {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.stats-data div {
  padding: 20px 30px;
  border-radius: 10px;
  min-width: 150px;
}
.stats-data h3 {
  font-size: 4rem;
  color: #00bcd4;
}
.stats-data p {
  font-size: 1.6rem;
  color: #ccc;
}
